.ul{
	display: flex;
	width: 100%;
	height: 6rem;
	//margin: auto;
  //margin-left: 29px;
  margin-right: 10rem;
	//max-width: 1000px;
	justify-content: space-between;
	text-align: center;
  flex-direction: row;
  z-index: 15;

  @media (max-width: 500px){
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

}
.li {
	padding: 3rem 5rem 1rem 0rem;
  //text-transform: uppercase;
  cursor: pointer;
  color: #ebebeb;
	min-width: 70px;
	margin: auto;
  //background: green;
  height: 1px;
  padding-top: 13px;

  @media (max-width: 500px){
    font-size: 1.2rem;
    font-weight: 700;
  }

}

.li:hover {
  //background-image: url('../../../public/images/imagensNav/btAzul.png');
  background-size: 100% 100%;
  color: #ffffff;
  animation: spring 300ms ease-out;
  //text-shadow: 0 -1px 0 rgb(255, 135, 175);
	font-weight: bold;
  z-index: 10;
}
.li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}

.orca {
  padding-top: 5%;
  padding-bottom: 5% ;
  margin-top: -6.5px;
  width: 130%;
  border-radius: 5px;
  background: #2F3ADB;
}
