.infoStyle{
    span{
      font-size: 2.3rem;
      font-weight: 500;
      text-shadow: 2px 2px 3px #042b57;
    }
    p{
      font-size: 13px;
      position: absolute;
      top: 20%;
      padding: 0px 5px 0px 5px;
      left: -17%;
      border-radius: 13px;
      background-color: rgb(72, 99, 28);
      font-weight: 400;
    }
}

.containerItens{
    width: 48vh;
    padding: 0 2vh;
    height: auto;
}
.containerSubTitle{ 
  width: 100%;
  position: absolute;
  flex: 1;
  display: flex;
  flex-direction: column;
  top: 66px;
  justify-content: center;
}
.containerCity{ 
  width: 100%;
  flex-direction: column;
  position: relative;
  top: -3px;
  left: 32%;
  justify-content: center;
}
.containerButton{ 
  width: 100%;
  height: auto;
  position: relative;
  top: 10px;
  justify-content: center;
  display: flex;
}


.customImage{
    height: 50vh;
    width: 100%;
  }
  
  .imageBack{
    height: 50vh;
    width: 100%;
  }

.container{
    display: flex;
    justify-content: center;
}