
.headerContainer{
   background: transparent;
  position: fixed;
  z-index: 9;
  width: 100%;
  height: 4.5rem;
  //transition: 0.5s;
  z-index: 99;
  top: 42.3px;

   @media (max-width: 499px){
    display: none;
  }
  }
  
  .headerContainerB{ 
   background:  rgba(255,255,255,0.7);
   position: fixed;
   width: 100%;
  height: 9vh;
  top: 42.3px;
   transition: 0.4s;
   z-index: 10;

    @media (max-width: 500px){
      display: none;
    }
  
  }

    .containerButton {
      width: 100%;
      left: -5%;
      top: -2vh;
      position: absolute;
    }
