.container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgb(72, 99, 28);
}


.containerImg{
  display: flex;
   width: 100%;
   justify-content: center;
   
}




