.container{
    display: flex;
    align-items: center;
    width: 100%;
    padding-bottom: 5rem;
    height: auto;
    background-color: rgb(61, 65, 54);

}

.containerTitle{
    width: 100%;
    flex-direction: column;
    height: 77%;
    margin-top: 8%;
    display: flex;
    justify-content: baseline;
    align-items: center;
    top: 2;
    padding: 0rem 0rem 0rem 0rem;    
}

.containerServicos{
 width: 70% ;
 padding-top: 3rem;
 display: flex;

 text-align: center;

}

.servico{
  width: 30%;
  height: 20rem;
  margin-left: 2%;
  padding: 1%;
  border-radius: 30px;
  background: rgb(231, 224, 224);
  flex: 1;
}

.servico:hover{
  background-color: rgb(204, 197, 197);
}

.infoStyle{
    span{
      font-size: 2rem;
      font-weight: 700;
      color: #EEE;
    }
    p{
      font-size: 2;
      font-weight: 500;
      color: #EEE;
      text-align: center;
    }
    border-radius: 12px;
  }
  
  .infoStyle :hover{
    transition: 500ms;
    color: #FFF;
  }
  .h2{
    font-weight: 700;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .svgcontainer {
    cursor: pointer; // Isso torna o cursor uma mão quando estiver sobre a imagem
  
    &:hover {
     
      .st0{fill:rgb(236, 41, 15);}
      // Adicione estilos para o hover normal aqui
    }
  
    &.hovered {
      .st0{fill:rgb(236, 41, 15);}
      // Adicione estilos para o hover quando o estado isHovered for verdadeiro
      filter: brightness(0.8); // Um exemplo de alteração de cor usando o filtro de brilho
    }
  }
 