.container{
  width: 32vh;
  height: 37vh;
  display: flex;
  margin: 8px;
  border-Radius: 10px;
  background-color: #EEE;
  align-items: center;
  justify-content: center;
  // backgroundImage: `url(${image.image})`;
  background-size: cover;
  box-shadow: 0 0 2px 1px #01112b inset, 0 0 0 0 #01112b;
}

.containerAvatar {
  width:4%;
  height: 14%;
  border-radius: 5px;
  position: absolute;
  color: rgb(66, 61, 61);
  top: 8.2%;
  margin-right: 17%;
}

.containerText{
  width: 95%;
  height: 62%;
  margin-right: 3%;
  margin-top: 37%;
  display: flex;
  align-self: center;
  overflow-y: auto;
}


.contentText{
  span{
    font-size:17px;
    width: 22%;
    font-weight: 700;
    position: absolute;
    color: rgb(66, 61, 61);
    top: 10%;
    padding-left: 6%;
    text-align: initial;
  }

  .p{
    width: 22%;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    color: rgb(66, 61, 61);
    top: 17%;
    padding-left: 6%;
    text-align: initial;
    //marginRight: 5,
  }

  .textDepoimento{
    font-size: 16px;
    color: rgb(112, 107, 107);
    padding: 2%;
    font-weight: 500;
  }
 
}

.imageItens{
  width: 10vh;
  height: 15vh;
}

.imagesContainer{
  display: flex;
}

.containerImages{
  width: 70% ;
  padding-top: 3rem;
  display: flex;
  text-align: center;
 
 }
 
 .imagesList{
  width: 100%;
  height: 45vh;
  border-radius : 5;
 }

 .flex1{
  flex: 1;
 }

 .displayflex{
  display: flex;
  max-width: 500;
 }

 .caroussel{
  width: 50%;
  height: 100;
 }

 .customImage{
  height: 50vh;
  width: 100%;
}

.containerItens{
  width: 35vh;
  height: 45vh;
  display: flex;
  justify-content: center;
}