.main {
    min-height: 100vh;
    text-align: center;
    padding: 0;
    padding-top: 35px;
    top: 0;
    left: 0;
    right: 0;
   transition: 0.8s;
   background-color: #EEEE;

}

.main h2 {
    height: 6rem;
    padding-top: 1em;
    margin-bottom: 4.8em;
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
   transition: 0.8s;
}


.main h3 {
    height: 6rem;    
    margin-top: -0.2em;
    color: yellow;
    background-color: rgb(32, 11, 80);
    left: 0;
    right: 0;
    transition: 0.8s;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main header {
    height: 5rem;    
    margin-bottom: 4.8em;
    left: 0;
    right: 0;
   transition: 1.4s;
}

.headerContainer{
   background-color: transparent;
  position: fixed;

   @media (max-width: 499px){
    display: none;
  }
  }
  
  .headerContainerB{ 
   background:  rgba(255,255,255,0.9);
    position: fixed;

    @media (max-width: 500px){
      display: none;
    }
  
  }
